cachetools==2.0.1
certifi==2017.11.5
chardet==3.0.4
google-auth==1.2.1
idna==2.6
ipaddress==1.0.18
kubernetes==4.0.0
oauthlib==2.0.6
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.1
requests==2.18.4
requests-oauthlib==0.8.0
rsa==4.7
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
websocket-client==0.40.0
structlog==18.1.0